/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --plus-jakarta-font: 'Plus Jakarta Sans', sans-serif;

    --primary-background-color: #e0eae5;
    --primary-color: #032e32;
}

html,
body {
    font-size: 62.5%;
}

body {
    font-family: var(--plus-jakarta-font);
    font-size: 1.6rem;
    line-height: 1.4;
}

/* ============= Common ============= */

button,
input,
select,
textarea {
    font-family: inherit;
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}